
body {
  font-family: "Avenir Next";
}

.header-logo{
  height:100;
  width:1000;
  text-align:center;
  color:white;
  background-color:rgba(255,150,150,0.5)
}
  



.main{
  height:1000;
  width:1000;
  background-image:url(https://suzukikengo.github.io/IMG_7259.jpg);
  background-size:cover;
}
