*{
  box-sizing:border-box;
}
body {
  font-family: "Comic Sans MS";
}
.header{
  padding:0 0 0 0;
  border-bottom:10px solid #ce0909;
  width:2400px;
  }
  
.header-logo{
  height:150px;
  width:2400px;
  font-size:70px;
  line-height:150px;
  text-align:center;
  color:#e0fbda;
  background-color:rgb(56, 52, 52)
}

.header-logo a{
 float:right;
 padding:20px 100px 0 0;
 font-size:50px;
 color:white;
  font-family: "ＭＳ ゴシック";
} 

.main{
  background-color:rgb(0, 0, 0);
  margin:0 0 0 0;
  padding:10px 0 0 0;
  height:2400px;
  width:2400px;
 }

.block {
   position:relative;
   float:left;
   height:25%;
   width:25%;
   padding:0 0 10px 0;
 }

img{
  height:100%;
   width:100%;
   border-radius:100px;
   padding:0 5px;
}

.waka{
  position:absolute;
  top:30px;
  left:10px;
 font-family:'HGP行書体';
 color:white;
 font-size:45px;
 opacity:0.8;
 margin-left:10px;
 padding:40px 40px 40px 0px;
}

p2{
 position:absolute;
 top:400px;
 left:30px;
 font-size:30px;
 color:white;
 } 

.onnsei{
  position:absolute;
  top:500px;
  left:50px;
 }

span{
 color:#000000;
 }

span2{
 color:#d05757;
 }






@media(max-width:670px){
  

 
 .header{
  padding:0 0 0 0;
  border-bottom:3px solid black;
  width:375px;
  }
  
.header-logo{
  height:100px;
  width:375px;
  font-size:40px;
  line-height:100px;
  text-align:center;
  color:#e0fbda;
  background-color:rgb(56, 52, 52)
  }
 
 .header-logo a{
 float:right;
 padding:20px 20px 0 0;
 font-size:20px;
 color:white;
  font-family: "ＭＳ ゴシック";
 }
  
.main{
  margin:0 0 0 0;
  padding:5px 0 0 0;
  height:375px;
  width:375px;
  }

.block {
  background-color:rgb(0, 0, 0);
  position:relative;
  height:100%;
  width:100%;
  }

img{
  height:100%;
  width:100%;
  border-radius:50px;
  padding:5px 0;
  }

.waka{
 position:absolute;
 top:10px;
 left:10px;
 font-family:'HGP行書体';
 color:white;
 font-size:22px;
 opacity:0.8;
 margin-left:10px;
 padding:40px 40px 40px 0px;
 }

p2{
  width:200px;
 position:absolute;
 top:250px;
 left:90px;
 font-size:20px;
 color:white;
 } 
  
.onnsei{
 position:absolute;
 top:300px;
 left:35px;
 }
  
