body {
  font-family: "Comic Sans MS";
}
.header{
  padding:5px 0 0 0;
  }
  
.header-logo{
  height:150px;
  width:1600px;
  font-size:70px;
  line-height:150px;
  text-align:center;
  color:white;
  background-color:rgba(20,100,100,0.5)
}
  
.main{
  margin:0 0 0 0;
  padding:0 0 0 0;
  height:1600px;
  width:1600px;
  background-image:url(https://suzukikengo.github.io/IMG_7259.jpg);
  background-size:cover;

}

h2{
font-family:'HGP行書体';
color:white;
font-size:70px;
padding:10px 50px;
margin:0 0;
opacity:0.3;
transition:all 5s;
}

h2:hover{
color:red;
opacity:1;
font-size:200px;
}


.waka{
 font-family:'HGP行書体';
 color:white;
 font-size:60px;
 opacity:0.8;
 margin-left:10px;
 padding:40px 40px 40px 0px;
}

.waka h1{
  padding:20px 0px;
  margin:50px 0 0 0;
}

.onnsei{
padding:500px 1000px;
 }
